
    html {
        width: 100%;
    }

    body {
		width: 100%;
		overflow-x: hidden;
	}

    .banner {
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 125px;
		width: 100%;
		background: #010657;
    }

    .banner2 {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 130px;
		width: 100%;
		background: black;
        opacity: 20%;
    }

    .menu li {
        position: relative;
        list-style: none;
        padding: 0%;
        display: inline;
        margin-right: 60px;
        justify-content: right;
        left: 5%;
        top: 50px;
    }

    .menu li a {
        text-decoration: none;
        font-family: 'Lucida Sans';
        font-weight: bold;
        font-size: 20px;
        color: white;
        text-align: center;
    }

    .menu li a:hover {
        transition: 0.5s;
        color: #2C67C7;
    }

    .menu2 li {
        position: relative;
        list-style: none;
        padding: 0%;
        display: inline;
        margin-right: 60px;
        justify-content: right;
        left: 70.5%;
        top: 10px;
        
    }

    .menu2 li a {
        display: inline;
        text-decoration: none;
        font-family: 'Lucida Sans';
        font-weight: bold;
        font-size: 20px;
        color: white;
        text-align: center;
        justify-content: right;
    }

    .menu2 li a:hover {
        transition: 0.5s;
        color: #2C67C7;
    }
	
    .reseau li {
        position: relative;
        list-style: none;
        display: inline;
        padding: 0%;
        margin-right: 10px;
        left: 86%;
        top: -27.5px;
    }

    .reseau li a img {
        height: 20px;
        width: 20px;
    }

    .banner3 {
		display: block;
        position: relative;
		left: 0px;
		right: 0px;
		height: 250px;
		width: 100%;
		background: #010657;
        top: 400px;
    }

    .soutient {
        position: relative;
        font-size: 25px;
        color: white;
        text-align: center;
        font-family: 'Lucida Sans';
    }

    .fond {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .fond img {
        width: 480px;
        height: 270px;
    }

    .presentation {
        position: relative;
    }

/* NEWS */

    .tw {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .yt {
        display: flex;
        position: relative;
        justify-content: center;
        top: 50px;
    }

    footer {
        position: relative;
        top: 100%;
		height: 100px;
		width: 100%;
		background-color: #010657;
    }

    .copyright {
        position: relative;
        font-family: Arial;
        color: white;
        left: 59%;
        top: 10px;
    }

    .reseauf li {
        position: relative;
        list-style: none;
        display: inline;
        padding: 0;
        margin-right: 10px;
        left: 28%;
        top: 40px;
    }

    .reseauf li a img {
        height: 15px;
        width: 15px;
    }